# SPDX-License-Identifier: GPL-2.0-only

config PINCTRL_RTS493xA
	bool "Pinctrl and GPIO driver for Realtek rts493xa series"
	depends on DM && PINCTRL_GENERIC
	help
	  Support pin muxing and pin configuration on
	  Realtek rts493xa SoC.

	  The rts493xa contains many GPIO pins. Most of them are
	  multiplexed with other system functions. These pins can
	  be configured as either GPIO pin or alternate function.
	  It also supports basic configurations such as pull up/down,
	  drive-strength, and slew rate control for some of the pins.
