choice
	prompt "DDR Type Selection"
	default RTS493xA_QFN88_DDR3_1GBIT
	help
	  Select ddr type

config RTS493xA_QFN88_DDR3_1GBIT
	bool "QFN88 DDR3 MCM(1Gbit)"
	depends on (TARGET_ASIC || TARGET_EMULATOR)
	select QFN88_PACKAGE
	help
	 Enable option for QFN88 DDR3 1Gbit

config RTS493xA_QFN88_DDR3_2GBIT
	bool "QFN88 DDR3 MCM(2Gbit)"
	depends on (TARGET_ASIC || TARGET_EMULATOR)
	select QFN88_PACKAGE
	help
	 Enable option for QFN88 DDR3 2Gbit

config RTS493xA_DDR_H5TQ2G
	bool "DDR3 H5TQ2G(Hynix 256MB)"
	depends on TARGET_FPGA
	help
	  Enable option for DDR H5TQ2G

endchoice

choice
	prompt "DDR Speed Selection"
	default RTS493xA_DDR_1066
	depends on (TARGET_ASIC || TARGET_EMULATOR)
	help
	  Select ddr clock

config RTS493xA_DDR_1066
	bool "DDR-1066"
	help
	  Select ddr dqs clock to 1066/2

config RTS493xA_DDR_1333
	bool "DDR-1333"
	help
	  Select ddr dqs clock to 1333/2

config RTS493xA_DDR_1600
	bool "DDR-1600"
	help
	  Select ddr dqs clock to 1600/2

config RTS493xA_DDR_1866
	bool "DDR-1866"
	help
	  Select ddr dqs clock to 1866/2

config RTS493xA_DDR_2133
	bool "DDR-2133"
	help
	  Select ddr dqs clock to 2133/2

endchoice
